<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <test name="Test1">
    <classes>
      <class name="tuesday_Nov4.annotations.C1"/>
      <class name="tuesday_Nov4.annotations.C2"/>
      <class name="tuesday_Nov4.annotations.C3"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test2">
    <classes>
      <class name="tuesday_Nov4.annotations.C1"/>
      <class name="tuesday_Nov4.annotations.C2"/>
      <class name="tuesday_Nov4.annotations.C3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
